<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="CuisineBangkokMain.html" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Script" />
    </system.webServer>
</configuration>
